*{
    margin: 0;
    padding: 0;
    border: 0;
}
:root {
    --fonte-principal: 'Inter', sans-serif;
    --cor-primaria: #2069FF;
    --cor-secundaria:#1649B2;
    --cor-terciaria: #FF5500;
    --cor-branco: #FFFFFF;
    --cor-primaria03: #80A9FF;
}

body {
    color: var(--cor-branco);
    height: auto;
    width: auto;
    background-color: var(--cor-primaria);
    font-family: var(--fonte-principal);
    overflow-x: hidden;
}

.cabecalho{
    background: var(--cor-primaria);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    gap: 813px;
    padding: 2%;
    width: 100%;
    height: 20px;
    z-index: 1000;
}

.menu{
    padding: 3%;
    display: block;
}

nav{
    position: relative;
    width: 350px;
    height: 40px;
    background-color: var(--cor-primaria);
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

nav a{
    position: relative;
    display: block;
    color: var(--cor-branco);
    text-decoration: none;
    padding: 0 23px;
    z-index: 1;
}

nav span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100%;
    background-color: var(--cor-terciaria);
    border-radius: 16px;
    transition: .5s;
}

.conteudo{
    display: flex;
    flex-direction: column;
    padding: 0% 8%;
    gap: 0px;
    padding-top: 60px;
}

#imagem-notebook{
    position: relative;
    right: -98%;
    bottom: 0;
}

#imagem-equipe{
    position: relative;
    right: -49%;
    bottom: 400px;
}

#inicio{
    padding-top: 10%;
    width: 50%;
}

h1{
    font-size: 2.5em;
    margin-bottom: 17px;
}

.espacamento-sections{
    height: 100px;
}

button{
    margin-top: 17px;
    width: 220px;
    height: 35px;
    border-radius: 16px;
    color: var(--cor-secundaria);
    background-color: #FFE300;
    font-weight: 850;
    font-size: 12px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 0 10px #FFE300;
}

button a{
    text-decoration: none;
}

#suporte{
    text-align: center;
    padding-bottom: 25%;
}

.suporte__contato{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items:center
    
}

.suporte__contato__card{
    width: 200px;
    height: 200px;
    margin-left: -50%;
}

footer{
    height: 100%;
    background-color: var(--cor-secundaria);
    width: 100%;
}

.rodape {
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 600;
    padding: 2%;
    color: var(--cor-terciaria);
    text-align: center;
}

.equipe{
    display: flex;
    gap: 140px;
    margin-top: 5%;
}

.equipe-parte1{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.equipe-parte2{
    display: flex;
    flex-direction: column;
    gap: 100px;

}

@media screen and (max-width:1000px) {

    .espacamento-sections{
        height: 50px;
    }

    .cabecalho{
        padding: 2.5%;
    }

    body{
        text-align: center;
        width: auto;
        padding: 0;
    }

    main{
        width: auto;
        padding: 0;
       
    }

    #inicio{
        padding-top: 10%;
        width: 100%;
    }

    #imagem-notebook{
        position: inherit;
        width: 100%;
        height: 60%;
    }
    
    #imagem-equipe{
        position: inherit;
        width: 100%;
        height: 60%;
        
    }

    .equipe{
        display: flex;
        gap: 10px;
        margin-top: 5%;
        flex-direction: column;
    }

    .equipe-parte1{
        gap: 10px;
    }
    
    .equipe-parte2{
        gap: 10px;
    
    }

    #suporte{
        width: auto;
        padding: auto;
        font-size: 12px;
    }

    footer{
        height: 50px;
        background-color: var(--cor-secundaria);
        width: auto;
    }

    .rodape {
        text-align: center;
        padding: 2%;
    }

    #logo{
        display: none;
    }
    
}