.logo {

    display: flex;
    padding: 2% 8%;
    z-index: 1000;
}

.container {
    display: flex;
    align-items: center;
    padding: 0% 8%;
    gap: 80px;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: 58px;
    width: auto;
}

.formulario__frase-texto {
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 500;
    color: #1649b2;
}

.formulario__titulo-texto {
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-terciaria);
}

.principal__formulario {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.formulario__campo {
    display: flex;
    flex-direction: column;
    color: var(--cor-primaria03);
    gap: 6px;
}

.campo__etiqueta {
    font-weight: 500;
    line-height: 20px;
}

.campo__escrita {
    border: 1.5px solid #E6E6E6;
    border-radius: 16px;
    background: #2069FF;
    display: block;
    width: 466px;
    height: 50px;
    font-family: var(--fonte-principal);
    font-weight: 400;
    padding-left: 23px;
    color: #E6E6E6;
}

.mensagem-erro {
    color: red;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 500;
}

.formulario__botao {
    background: var(--cor-terciaria);
    display: block;
    border: none;
    padding: 8px;
    gap: 8px;
    width: 467px;
    height: 40px;
    border-radius: 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--cor-branco);
    cursor: pointer;
}

.imagem {
    width: 50%;
}


@media screen and (max-width:1200px) {
    .logo {
        padding: 5%;
        width: 50px;
    }
    
    .container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 5%;
    }

    .formulario__titulo-texto {
        width: 100%;
        font-size: 36px;
    }

    .principal__formulario {
        width: 100%;
        align-items: center;
    }

    .formulario__campo {
        text-align: left;
    }

    .campo__escrita {
        width: 300px;
    }

    .formulario__botao {
        width: auto;
    }

    .formulario__container {
        display: flex;
        text-align:  center;
        flex-direction: column-reverse;
        padding: auto;
    }

    .imagem {
        width: 100%;
    }
}
